<div ng-controller="tjController">
    <h4 align="center">我济斋月签到系统</h4>
    <p>总人数：{{totalP}}   已签到人数：{{nowP}}    签到率：{{nowP/totalP}}</p>
    <p>未签到同学：{{noPerson}}</p>

    <table border="1" cellpadding="0" class="table table-striped table-hover">
        <tr>
            <th>姓名</th>
            <th>签到</th>
            <th>起了吗</th>
        </tr>
        <tr ng-repeat="t1 in peopleDatas">
            <td>{{t1.name}}</td>
            <td>
                <button ng-click="record(t1.name)" class="btn btn-primary btn-small">签到</button>
            </td>
            <td>{{t1.flag}}</td>
        </tr>
    </table>
    <p>友情链接:</p>
    <a href="http://106.14.37.7:8000/xcl">新昌里封斋饭评价系统</a>
    </br>
    <a href="http://106.14.37.7:8000">看看另一个系统的封斋签到情况</a>
    </br>
    <a href="http://106.14.37.7:8000/pay">支持新昌里购买更快更强的服务器</a>
    <h5 align="center">版权所有@新昌里技术中心</h5>
    <!--<div id="container"></div>-->
    <!--<div class="gridStyle" ui-grid="gridOptions"></div>-->
    <!--<div ui-grid="gridOptions" class="gridStyle" ui-grid-resize-columns ui-grid-move-columns></div>-->
</div>
<!--<script>
    var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom: 11,
        center: [116.397428, 39.90923]
    });

</script>-->